<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/stylesheet.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    
    <div class="w-full h-screen bg-zinc-900">
        <div class="p-10 text-white">
            <h1 class="mb-2 text-2xl">Create Usser</h1>
            <form action="/create" method="post">
                <input class="px-3 py-2 rounded-md bg-transparent border-2 border-white" type="text" placeholder="username" name="userName">
                <input class="ml-2 px-3 py-2 rounded-md bg-transparent border-2 border-white" type="email" placeholder="email" name="email">
                <input class="ml-2 py-2 rounded-md bg-transparent border-2 border-white" type="password" placeholder="password" name="password">
                <input class="ml-2 px-3 py-2 rounded-md bg-transparent border-2 border-white" type="age" placeholder="age" name="age">
                <input class="ml-2 px-5 py-2 rounded-md bg-blue-500 border-2 border-white" type="submit" value="Create User">
            </form>
        </div>
      
    </div>
    <script src="/Javascript/index.js"></script>
</body>
</html>